html,
body {
  margin: 0;
  padding: 0;
}

iframe#webpack-dev-server-client-overlay {
  // it will disable errors screen in dev mode
  display: none;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.comp {
  width: auto;
  height: 123px;

  & .head {
    height: 123px;
  }

  @media (max-width: 870px) {
    & .head {
      height: 600px;
    }
  }
}
